body{
	/*background: #494A5F; hovertree.com
	color: #D5D6E2;*/
	font-weight: 500;
	font-size: 1.05em;
	font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}
a{color: #2fa0ec;text-decoration: none;outline: none;}
a:hover,a:focus{color:#74777b;}

.container{
	margin: 0 auto;
	overflow: hidden;
}
.demo{width:320px; margin:10px auto 20px auto; min-height:300px;}
.msg{text-align:center; height:40px; line-height:40px; font-weight:bold;width: 250px;background: #999999;position: absolute;left: 50%;margin-left: -125px;top:69%;}